POSTGRES_PRISMA_URL=postgresql://postgres.xwmvxdonhojeagzkbnok:[YOUR-PASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://postgres:[YOUR-PASSWORD]@db.xwmvxdonhojeagzkbnok.supabase.co:5432/postgres?sslmode=require

NEXT_PUBLIC_DEFAULT_CURRENCY_CODE=""
MCP_API_KEY=replace-with-a-long-random-secret
MCP_PORT=4000